@media (min-width: 700px) {
    body {
        font-family: 'Manrope', sans-serif;
        font-size: 13px;
        font-weight: 500;
        background-color: hsl(210, 46%, 95%);
        height: 100vh;
        padding: 175px 26px;
    }
    
    p {
        color: hsl(217, 19%, 35%);
    }
    
    .article-preview {
        background-color: white;
        border-radius: 1rem;
        margin: auto;
        width: 700px;
        max-width: 90%;
        display: flex;
    }
    
    .image img {
        width: 100%;
        height: 100%;
        border-radius: 1rem 0 0 1rem;
    }
    
    .content{
        padding: 10px 30px 10px;
    }
    
    .content .headline {
        font-size: 150%;
        font-weight: 700;
    }
    
    .wrap{
        display: flex;
        position: relative;
    }

    .author {
        margin: 15px 30px 15px;
        display: flex;
    }
    
    .author-image {
        width: 36px;
        height: 36px;
        background-image: url(../images/avatar-michelle.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 100%;
    }
    
    .author-info {
        margin: 0 15px 0;
    }
    
    .author-info p {
        margin-top: 0;
        margin-bottom: 0;
    }
    
    .author-info .author-name{
        font-weight: 700;
    }
    
    .share-popup .share-btn {
        width: 30px;
        height: 30px;
        color: hsl(210, 46%, 95%);
        background-image: url(../images/icon-share.svg);
        background-position: center;
        background-repeat: no-repeat;
        border: none;
        border-radius: 100%;
        position: absolute;
        right: 30px;
        top: 18px;
    }    

    /* The actual popup (appears on top) */
    .share-popup .popup-element {
        background-color: hsl(217, 19%, 35%);
        border-radius: 7px;
        padding: 0 20px;
        align-items: center;
        display: flex;

        visibility: hidden;
        position: absolute;
        z-index: 1;
        bottom: 100%;
        right: -47px;
    }

    .popup-element p {
        color: hsl(212, 23%, 69%);
        letter-spacing: 5px;
        margin-right: 10px;
    }

    i {
        margin: 0 5px;
    }

    .fab {
        color: white;
    }
  
    /* Popup arrow */
    .share-popup .popup-element::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: hsl(217, 19%, 35%) transparent transparent transparent;
    }
  
    /* Toggle this class when clicking on the popup container (hide and show the popup) */
    .share-popup .show {
        visibility: visible;
    }

    #btn2 {
        display: none;
    }
}